<%= error_messages_for(@page) %>
<table class='show'>
<tr>
	<th><%= t.label(:name,'Name') %></th>
	<td><%= t.text_field(:name) %></td>
</tr>
<tr>
	<th><%= t.label(:position) %></th>
	<td><%= t.select(:position,1..@page_count) %></td>
</tr>
<tr>
	<th><%= t.label(:subject_id) %></th>
	<td><%= t.select(:subject_id,@subjects.map{ |p| [p.name,p.id]  }) %></td>
</tr>
<tr>
	<th><%= t.label(:visible) %></th>
	<td><%= t.check_box(:visible) %></td>
</tr>
<tr>
	<th><%= t.label(:permalink) %></th>
	<td><%= t.text_field(:permalink) %></td>
</tr>
</table>
